.card {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.12);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.12);
  border: 1px solid rgba(117, 108, 108, 0.12);
  margin: 10px;

  &--photo {
    display: flex;
    img {
      width: 100%;
    }
  }
  &--name {
    text-align: center;
    width: 100%;
    color: $color-primary;
    font-weight: 700;
    font-size: 30px;
    background: $color-secondary;
  }

  &--description {
    width: 100%;
    font-size: 15px;
    padding: 10px;
    max-width: 450px;
    height: 225px;
    overflow: hidden;
  }

  &--add {
    span {
      width: 100%;
      background: $color-primary;
      color: #fff;
      text-transform: uppercase;
      padding: 5px;
      display: flex;
      justify-content: center;
      cursor: pointer;

      &:hover {
        background: lighten($color-primary, 10%);
      }
    }
  }

  &--remove {
    span {
      width: 100%;
      background: $color-secondary;
      color: #fff;
      text-transform: uppercase;
      padding: 5px;
      display: flex;
      justify-content: center;
      cursor: pointer;

      &:hover {
        background: lighten($color-secondary, 10%);
      }
    }
  }

  &--view {
    a {
      width: 100%;
      background: #fcbd4a;
      color: #fff;
      text-transform: uppercase;
      padding: 5px;
      display: flex;
      justify-content: center;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        background: lighten(#fcbd4a, 10%);
      }
    }
  }
}
