.row {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

*[class*=flex-] {
  padding: 10px;
  width: 100%;
}

span {
  width: 100%;
  display: block;
}

.flex-sm-1 {
  width: 8.33333%;
}

.flex-sm-2 {
  width: 16.66667%;
}

.flex-sm-3 {
  width: 25%;
}

.flex-sm-4 {
  width: 33.33333%;
}

.flex-sm-5 {
  width: 41.66667%;
}

.flex-sm-6 {
  width: 50%;
}

.flex-sm-7 {
  width: 58.33333%;
}

.flex-sm-8 {
  width: 66.66667%;
}

.flex-sm-9 {
  width: 75%;
}

.flex-sm-10 {
  width: 83.33333%;
}

.flex-sm-11 {
  width: 91.66667%;
}

.flex-sm-12 {
  width: 100%;
}

@media screen and (min-width: 600px) {

  *[class*=flex-sm] {
      width: 100%;
  }

  .flex-1 {
      width: 8.33333%;
  }

  .flex-2 {
      width: 16.66667%;
  }

  .flex-3 {
      width: 25%;
  }

  .flex-4 {
      width: 33.33333%;
  }

  .flex-5 {
      width: 41.66667%;
  }

  .flex-6 {
      width: 50%;
  }

  .flex-7 {
      width: 58.33333%;
  }

  .flex-8 {
      width: 66.66667%;
  }

  .flex-9 {
      width: 75%;
  }

  .flex-10 {
      width: 83.33333%;
  }

  .flex-11 {
      width: 91.66667%;
  }

  .flex-12 {
      width: 100%;
  }
}
