.header {
  display: flex;
  background: $color-secondary;

  &--logo {
    display: flex;
    align-content: center;
    justify-content: center;
    a {
      padding: 0;
      width: 100%;
      height: 100%;
    }
    img {
      width: 80px;
      height: 100%;
    }
  }
  &--search {
    display: flex;

    &-button {
      margin-left: 5px;
      background: $color-primary;
      color: #fff;
      cursor: pointer;
      display: flex;
      padding: 5px;
      justify-content: center;
      align-content: center;
      align-items: center;
      font-weight: 700;
      text-transform: uppercase;

      &:hover {
        background: lighten($color-primary, 10%);
      }
    }
  }
}

.modalSearch {
  h1 {
    color: $color-primary;
    width: 100%;
    text-align: center;
  }
  &--row {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
}
