* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 20px;
  font-family: 'Marvel', sans-serif;
  letter-spacing: .5px;
  line-height: 1.4;
  color: $color-grey-light;
  overflow: auto;
}

input,
input:focus {
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
}
