.errorPage {
    &--header {
        h1 {
            width: 100%;
            color: $color-primary;
            text-align: center;
        }
    }
    &--body {
        img {
            width: 400px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            opacity: .7;
            margin-top: 30px;
        }
    }
}