.home {
  &--body {
    &-filter {
      background: $color-primary;
      display: flex;
      &-az {
        display: flex;
        span {
          background: $color-secondary;
          padding: 5px;
          color: #fff;
          display: flex;
          justify-content: center;
          align-content: center;
          align-items: center;
          margin: 0 5px;
          cursor: pointer;
        }
      }
      &-search {
        span {
          background: $color-secondary;
          padding: 5px;
          color: #fff;
          display: flex;
          justify-content: center;
          align-content: center;
          align-items: center;
          margin: 0 5px;
          cursor: pointer;
        }
      }
      &-clean {
        span {
          background: $color-secondary;
          padding: 5px;
          color: #fff;
          display: flex;
          justify-content: center;
          align-content: center;
          align-items: center;
          margin: 0 5px;
          cursor: pointer;
        }
      }
    }
    &-empty {
      padding-top: 10px;
      h2,
      h1 {
        width: 100%;
        text-align: center;
      }
      h2 {
        color: $color-primary;
      }
      img {
        width: 200px;
        opacity: .7;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        top: 10px;
      }
    }
    &-list {
      h1 {
        color: $color-primary;
        width: 100%;
        text-align: center;
        position: relative;
        right: 0;
        font-weight: 700;
      }

      display: flex;
      flex-direction: column;
      width: 70%;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      &-container {
        display: flex;
      }
    }

  }
}
@media screen and (min-width: 600px) {
  .home--body-list {
    transform: translateX(-45%);

    h1 {
      right: 20px;
    }
  }
}
