.notFound {
    &--header {
        h1 {
            color: $color-secondary;
            text-align: center;
        }
        h2 {
            color: $color-primary;
            text-align: center;
        }
    }
    &--body {
        img {
            width: 400px;
            opacity: .7;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
        a {
            width: 100%;
            text-align: center;
            text-decoration: none;
            color: $color-primary;
            display: flex;
            justify-content: center;
            
            span {
                font-weight: 700;
                text-decoration: none;
                margin-top: 20px;
                font-size: 30px;
                padding: 10px;
                background: $color-secondary;
                width: 400px;
                text-transform: uppercase;
            }
        }
    }
}