.profile {
  .label {
    color: $color-primary;
    font-weight: 700;
  }
  .btn-editar {
    float: right;
    background: $color-primary;
    font-weight: 700;
    padding: 10px;
    width: 100px;
    color: #fff;
    text-align: center;
    cursor: pointer;

    &:hover {
      background: lighten($color-primary, 10%);
    }
  }

  .btn-salvar {
    float: right;
    background: $color-secondary;
    font-weight: 700;
    padding: 10px;
    width: 100px;
    color: #fff;
    text-align: center;
    cursor: pointer;

    &:hover {
      background: lighten($color-secondary, 10%);
    }
  }

  &--body {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    img {
      width: 200px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin: 10px 0;
    }
    textarea,
    input {
      border: 1px solid $color-secondary;
      transition: all .5s ease;
      margin: 10px 0;
      &:focus {
        border-color: $color-primary;
      }
    }
    textarea {
      resize: none;
      height: 90px;
    }
    &-series {
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-content: center;

      span {
        font-weight: 700;
      }
    }
  }
}
